@import '~app/styles/variables.css';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--rgb-max), var(--rgb-max), var(--rgb-max), 0.5);
}

.buttonGroup {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.logo > img {
  max-width: 160px;
}

.logoDarkMode,
.logoLightMode {
  display: none;
}

html[data-theme='dark'] .logoDarkMode,
html[data-theme='light'] .logoLightMode {
  display: block;
}

.buttonGroup button,
.buttonGroup img {
  border: 0;
  color: var(--lego-text-gray);
  cursor: pointer;
  transition: color 0.3s;

  &:hover,
  &.activeItem {
    color: var(--color-black);
  }
}

.buttonGroup button:focus {
  outline: none;
}

.searchIcon {
  color: var(--lego-link-color);

  &:hover,
  &.activeItem {
    color: var(--color-red-1);
  }
}

.burger {
  @media (--mobile-device) {
    order: 4;
  }
}

.burger i {
  font-size: 30px;
  line-height: 60px;
  margin-right: 20px;

  @media (--mobile-device) {
    margin-right: 0;
  }
}

.hideOnMobile {
  @media (--mobile-device) {
    display: none;
  }
}

.content {
  composes: container from '~app/styles/utilities.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: var(--lego-header-height);
  padding: 0 20px;
}

.logo {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: row;
}

.toggleButton {
  color: var(--lego-link-color);
  font-size: 14px;
}

.dropdown {
  width: 355px;
  padding: 0.9em;

  @media (--small-viewport) {
    width: 100%;

    &::before,
    &::after {
      display: none;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 2;
  white-space: nowrap;
  margin-right: 0.3em;

  @media (--mobile-device) {
    display: none;
  }
}

.navbarEl {
  margin: auto;
}

.navbarList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.navbarItemEl {
  position: relative;
  width: max-content;
}

.navbarItemTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32.31px; /* The height of the Abakus logo */
  padding: 0 1.5rem 0 1.5rem;
  font-family: -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3em;
  color: var(--color-dark-gray-4);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 2;
  transition: opacity 250ms ease-in-out;
}

.navbarItemTitle:hover,
.activeNavbarItemTitle {
  opacity: 0.7;
}

.dropdownSlot {
  position: absolute;
  left: 50%;
  padding-top: 1.2rem;
  perspective: 1500px;
  z-index: 2;
  transform: translateX(-50%);
}

.bottomLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--color-dark-gray-4);
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 100ms ease-in-out;
}

.bottomLink:hover {
  color: var(--lego-light-red-color);
}

.dropdownSection {
  position: relative;
  padding: 1.5em;
  z-index: 1;
}

html[data-theme='dark'] .meetingIcon {
  color: var(--color-light-gray-5);
  transition: color 0.1s;

  &:hover {
    color: var(--color-gray-5);
  }
}
